*{
    padding: 0;
    margin:0;
    font-style:;
}

#logo{
    width: 300px;
    height: 120px;
}

nav{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:1.7rem;
}

#aside a{
    color:#020202;
    font-size: 1.5rem;
    border-bottom:3px solid rgb(255,0,0);
    padding:5px 0;
    text-decoration: none;
}

#aside a:hover{
    color:red;
    text-decoration: none;
}

#section{
    background:url("img/bg2.jpg");
    background-size: cover;
    
    color:#fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top:200px;
   

}

#section h1{
    font-size: 4rem;
}

#section h2{
    border-bottom: 2px solid #fff;
}

#section p{
    font-family: cursive;

}

#section h3{
    border-bottom: 1px solid #fff;  
}

#songs{
    background: #fff;
    color:#000;
}

#songs h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 2px solid red;
}